@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Баланс";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Money"></label>
        <input asp-for="Input.Money" class="form-control" />
        <span asp-validation-for="Input.Money" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}