@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <img src="https://аливка.рф/wp-content/uploads/2020/04/affiliate-partners.jpg" style="width: 1000px; height:750px;">
        
        <div class="text-md-left">
            <h1 class=" text-center">О Компании</h1>
            <h3>
                ООО «Партнёр» - частная аутстаффинговая компания, входящее в группу предприятий, работающих в сфере подбора и предоставления персонала.
                Компания является прямым работодателем в разных отраслях в городе Казань.
            </h3>
            <h2>Для предприятий:</h2>
            <h3>
                - подбор временного персонала
            </h3>
            <h3>
                - индивидуальный подбор персонала рабочих специальностей
            </h3>
            <h3>
                - аутсорсинг труда рабочих специалистов
            </h3>
            <h2>Для соискателей: </h2>
            <h3>
                - официальное трудоустройство
            </h3>
            <h3>
                - «белая» заработная плата в строго оговоренные сроки
            </h3>
            <h3>
                - компенсация проезда до места работы и обратно
            </h3>
            <h3>
                - размещение в комфортных условиях по месту работы
            </h3>
        </div>
    </div>
