@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>
<h3>Политика в отношении обработки персональных данных</h3>
<h4>1. Общие положения</h4>
<p>
    Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Саттаров Марсэль Рафаэлевич (далее – Администратор).
    <br />1.1. Администратор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
    <br />1.2. Настоящая политика Администратора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Администратор может получить о посетителях веб-сайта.
</p>
<h4>2. Администратор может обрабатывать следующие персональные данные Пользователя</h4>
<p>
    2.1. Фамилия, имя, отчество;
    <br />2.2. Номер телефона;
    <br />2.3. Адрес электронной почты;
    <br />2.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
    <br />2.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
</p>
<h4>3. Правовые основания обработки персональных данных</h4>
<p>
    3.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://partnercompany.herokuapp.com. Заполняя соответствующие формы и/или отправляя свои персональные данные Администратору, Пользователь выражает свое согласие с данной Политикой.
    <br />3.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
</p>